#makeOfDiv6 {
    display: flex;
    background-image: url(https://wallpaperaccess.com/full/6102114.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    
    /* display: grid;
    align-content: center;
    grid-template-areas: 
    "lhl pih ms"
    "otk pdk nhj"; */
    height: 543.6px;
}

.buttonList {
    width: 120px;
    height: 50px;
    font-size: 12pt;
    /* border-radius: 50%; */
    border-radius: 50px;
    border: 2px solid black;
    margin: 0 auto;
    /* margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: table;
    display: inline-block; */
    /* opacity: 0.7; */
}

.buttonList:nth-child(1) {
    grid-area: lhl;
    /* margin-left: 25vw; */
}

.buttonList:nth-child(2) {
    grid-area: pih;
}

.buttonList:nth-child(3) {
    grid-area: ms;
}

.buttonList:nth-child(4) {
    grid-area: otk;
}

.buttonList:nth-child(5) {
    grid-area: pdk;
}

.buttonList:nth-child(6) {
    grid-area: nhj;
}