#headOfDiv {
    height: 97vh;
    background-image: url(https://wallpaperaccess.com/full/6313.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#headerText {
    font-size: 7vw;
    color: white;
    text-shadow: 10px 10px 10px black;
    padding-top: 25vh;
    text-align: center;
}