#headOfDiv1 {
    height: 97vh;
    background-image: url(https://wallpaperaccess.com/full/6313.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    transition: all 1.0s linear;
    /* transform: scale(1.5); */
}

#headerText1 {
    font-size: 25pt;
    color: white;
    text-shadow: 10px 10px 10px black;
    padding-top: 20vh;
    text-align: center;
}

#headerText2 {
    font-size: 70pt;
    color: white;
    text-shadow: 10px 10px 10px black;
    text-align: center;
}

#headOfDiv2 {
    display: flex;
    height: 50vh;
    background-color: pink;
    align-self: center;
    justify-content: center;
}

#div2Text {
    padding-top: 20vh;
    font-size: 20pt;
    color: white;
}

#div3Text {
    height: 9vh;
    font-size: 20pt;
    padding-top: 4.5vh;
    padding-left: 4vw;
}

#headOfDiv4 {
    height: 30vh;
    background-color: #0f1623;
    /* position: relative; */
    display: grid;
    /* justify-content: space-around; */
    grid-template-areas:
        "calendar time position";
}

.div4InsideOfText1 {
    color: pink;
    font-size: 20pt;
    /* padding-right: 10px; */
    padding-top: 7vh;
}

.container1 {
    grid-area: "calendar";
    padding-left: 9vw;
}

.material-symbols-outlined {
    margin-top: 7vh;
    float: left;
    color: white;
    font-size: 90pt;
}

.headOfDiv4Divider {
    width: 47px;
    float: left;
    padding-top: 2px;
    background-color: white;
}

.div4InsideOfText2 {
    color: white;
    font-size: 15pt;
}

.container2 {
    grid-area: "time";
}

.container3 {
    grid-area: "position";
}

#headOfDiv5 {
    height: 100vh;
    overflow: hidden;
}

#headOfDiv5Text1 {
    color: pink;
    font-size: 50pt;
    text-shadow: 1px 1px 1px gray;
    margin-left: 5vw;
}

.todoList {
    position: relative;

}

.theNumberToDO {
    background-color: pink;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 50pt;
}