#headOfDiv1 {
    height: 97vh;
    background-image: url(https://wallpaperaccess.com/full/6313.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#headerText1 {
    font-size: 30pt;
    color: white;
    text-shadow: 10px 10px 10px black;
    padding-top: 20vh;
    text-align: center;
}

#headerText2 {
    font-size: 70pt;
    color: white;
    text-shadow: 10px 10px 10px black;
    text-align: center;
}

#application {
    width: 32pt;
    height: 64pt;
    float: right;
}

#headOfDiv2 {
    display: flex;
    height: 50vh;
    background-color: pink;
    align-self: center;
    justify-content: center;
}

#div2Text {
    padding-top: 20vh;
    font-size: 20pt;
    color: white;
}

#div3Text {
    height: 9vh;
    font-size: 20pt;
    padding-top: 4.5vh;
    padding-left: 4vw;
}

#headOfDiv4 {
    height: 30vh;
    background-color: #0f1623;
}